body{
    background-color: #2B2B2B;
}
* {
    font-family: "work sans";
}
@font-face {
    font-family: "work sans";
    src: url(./fonts/WorkSans-Regular.ttf);
}
.email{
    width: 425px;
    
}

.sign-1{
    height: 60px;
    width: 188px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #2B2B2B;
    border-color: #A259FF;
    color: #ffffff;
    }
.View-Rankings{
    height: 60px;
    width: 188px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #2B2B2B;
    border-color: #A259FF;
    color: #ffffff;
    }
    .View-Rankings-1{
        display: flex;
        height: 60px;
        width:267px ;
        align-items: center;
        border-radius: 20px;
        background-color: #2B2B2B;
        border-color: #A259FF;
        color: #ffffff;
    }
    .cont-3 {
        height: 237px;
        width: 295px;
        background-color: #3B3B3B;
        margin-left: 30px;
        border-radius: 20px;
        margin-top: 40px;
        
    }
    .numbers{
        color: #FFFFFF;
        margin-left: 30px;
    }
    .cont-2{
        padding-top: 12px;
        display: flex;
        justify-content: center;
        height: 46px;
        background-color: #3B3B3B;
        border-radius: 20px;
        margin-left: 20px;
    }
    .cont-4{
        padding-top: 12px;
        display: flex;
        justify-content: center;
        height: 46px;
        background-color: #3B3B3B;
        border-radius: 20px;
        
    }
    .text-break-1{
        display: none;
    }
    .container1{
        height: 46px;
        width: 150px;
        background-color:#3B3B3B; 
        border-radius: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .text{
        margin-top: 12px;
    }
    .container2{
        margin-left: 20px;
        height: 46px;
        width: 175px;
        background-color:#3B3B3B; 
        border-radius: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container3{
        margin-left: 20px;
        height: 46px;
        width:110px;
        background-color:#3B3B3B; 
        border-radius: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4{
        margin-left: 20px;
        height: 46px;
        width: 110px;
        background-color:#3B3B3B; 
        border-radius: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    

@media only screen and (max-width: 768px) {
    .View-Rankings{
        margin-top: 20px;
        height: 60px;
        width: 100% !important;
        text-align: center;
        justify-content: center;
    }
    .item2{
        font-size: 16px !important;
    }
    .created{
        padding-left: 21px !important;
        width: 105px !important;
    }
    .animakid{
        padding: 0 !important;
    }
    .grid-box-1{
        padding-left: 0 !important;
    }
    .grid-box-2{
        margin-left: 0 !important;
    }
    .grid-box-2{
        padding-left: 0 !important;
    }
    .View-Rankings-2 {
        display: flex;
        background-color: #2B2B2B;
        height: 60px;
        border-radius: 20px;
        color: #FFFFFF;
        width: 100% !important;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-color: #A259FF; 
    }
    .container-fluid-1{
        margin-top: 0 !important;
    }

    .sign-up-2{
        height: 30px !important;
        width:auto !important;
    }
    .mobile-photo{
        margin-top: 15px;
    }
    .border-bottom{
        padding-top: 0 !important;
    }
    .email{
        width: 100%;
        height: 46px !important;
        margin: 0;
        padding-top: 40;
    }
    .Subscribe-1{
        position: relative;
        height: 46px !important;
        width: 100% !important;
        border-radius: 20px !important;
        margin-left: 0 !important;
        margin-top: 16px;
    }
    .image-1{
        margin-left: 0 !important;
    }
    .grid-box-1{
        padding-left: 30px !important;
    }
    .grid-box-2{
        margin-left: 30px !important;
    }
    .email{
        width: 100%;
        height: 46px !important;
        margin-top: 20px;
        padding-top: 40;
    }
    .text-6{
        padding-left: 30px !important;
       
    }
    .line{
        padding-left: 30px !important;
    }
    hr{
        background: #858584;
        height: 1px !important;
    }
    .nav-link{
        margin-left: 0 !important;
    }
    .cont-1{
        padding: 0 !important;
    }
    .card-img-top{
        margin-top: 210px !important;
        margin-left: 127.5px !important;
    }
    .text-navbar{
        margin-left: -128.5px !important; 
    }
    .sign-1{
        height: 60px;
        width: 255px !important;
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: #2B2B2B;
        border-color: #A259FF;
        color: #ffffff;
        }
    
    .second-card{
        margin-top: 30px;
    }
    .third-card{
        margin-top: 30px;
    }
    .card-text{
        margin: 0;
        justify-content: flex-end;
        display: flex;
        align-items: end;
    }
    .card-text-1{
        margin: 0;
        align-items: end;
        display: flex;
        align-items: end;
    }
    .card-text-2{
        margin: 0;
        align-items: end;
        display: flex;
        align-items: end;
    }
    .card-img-top {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 210px !important;
        margin-left: 0px !important;
    }
    .cont-3 {
        height: 237px;
        width: 315px !important;
        background-color: #3B3B3B;
        margin-left: 0 !important;
        border-radius: 20px;
        margin-top: 40px;
        
    }
    .first-text{
        font-size: 28px !important;
    }
    .second-text{
        font-size: 16px !important;
    }
    .text-break{
        display: none;
    }
    .text-break-1{
        display: block;
    }
    .four-cont{
        display: block !important;
    }
    .container2{
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
    .container3{
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
    .container4{
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
   

}






















